env*
.idea*
*.pyc
credentials.dat
tests/gdrive/test.json
integration/configuration.json
integration/trello-drive-integration.log
integration/configuration/config.ini
/build/
/.cache/
trello-drive-integration.log
